<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1 class="heading">Upload Files(s)</h1>
      <div class="links-result">
        <% if (locals.fileLink != null) { %>
        <div class="generated-link" style="margin-bottom: 1rem">
          Your file is uploaded:
          <a class="generated-atag" href="<%= locals.fileLink %>"
            ><%= locals.fileLink %></a
          >
          <div class="svg-wrapper">
            <%- include ('../public/icons/copypastesvg.svg') %>
            <span class="copied-to-clipboard"></span>
          </div>
        </div>

        <% } %>
      </div>
      <form
        id="form"
        action="/uploads"
        method="post"
        enctype="multipart/form-data"
        type="submit"
      >
        <label class="file-label" for="file"
          ><div class="label-text-wrapper">
            Drag file(s) here or press to upload
          </div></label
        >
        <div class="input-label-wrapper">
          <input
            type="file"
            id="file"
            name="file"
            required
            class="file-input"
            multiple
          />
        </div>
        <!-- <button id="submit" style="grid-column: span 2" type="submit">
          Share
        </button> -->
      </form>
      <!-- <section class="progress-area"></section>
      <section class="uploaded-area"></section> -->
    </div>
    <script type="module" src="../public/script.js"></script>
  </body>
</html>
